<% if charity_signed_in? %>
  <% else %>
  <h1><%= link_to "Click here to request help for your charity", new_charity_registration_path, class: "button" %></h1>
<% end %>

<h1>Charities we have helped</h1>

<% if @projects.any? %>
  <% @projects.each do |project| %>
    <%= render partial: 'partials/project', locals: {project: project} %>
  <% end %>
<% else %>
  <h1>No projects in showcase!</h1>
<% end %>

<a href='projects/new' class="button">Add a project</a>

<% if charity_signed_in? %>
  <% else %>
  <h1><%= link_to "Click here to request help for your charity", new_charity_registration_path, class: "button" %></h1>
<% end %>
