<h1>Get free help developing websites for your charity</h1>
<h3>Please see below other projects AgileVentures has helped in the past.</h3> <%= link_to "Request help for your charity", new_charity_registration_path %>

<% if @projects.any? %>
  <% @projects.each do |project| %>
    <%= render partial: 'partials/project', locals: {project: project} %>
  <% end %>
<% else %>
  <h1>No projects in showcase!</h1>
<% end %>

<a href='projects/new'>Add a project</a>
<h1><%= link_to "Click here to request help for your charity", new_charity_registration_path %></h1>