<h2><%= link_to "#{charity.organisation_title}", request_path(charity.id), class: "simple_link" %></a></h2>
<p><%= charity.project_description %></p>
<p>Contact Email: <%= charity.email %></p>
<% if charity == current_charity %>
  <%= link_to "Edit #{charity.organisation_title}", edit_charity_registration_path(charity.id), class: "button" %>
<% end %>
