<% if @charities.any? %>
  <% @charities.each do |charity| %>
  <%= render partial: 'partials/charity', locals: {charity: charity} %>
<% end %>
<% else %>
  <h1>No requests for help!</h1>
<% end %>

<% if charity_signed_in? %>
  <% else %>
  <h1><%= link_to "Click here to request help for your charity", new_charity_registration_path, class: "button" %></h1>
<% end %>
