<div class="center_container"
<% if @charities.any? %>
  <% @charities.each do |charity| %>
  <%= render partial: 'partials/charity', locals: {charity: charity} %>
<% end %>
<% else %>
  <h1>No requests for help!</h1>
<% end %>
</div>

<% if charity_signed_in? %>
  <% else %>
  <div id="help_link"><%= link_to "Request help for your charity", new_charity_registration_path, class: "button" %></div>
<% end %>
