// Place all the styles related to the showcase controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
   background-color: black;
   background-image: url(asset_path('codingbackground.png'));
   background-attachment: fixed;
   font-family: 'Century Gothic', Verdana;
   font-size: 16px;
   line-height: 24px;
   color: white;
   width: 100%;
   margin-top: 60px;
   text-align: center;
}

.menubar {
  z-index: 1;
  padding-top: 15px;
  width: 100%;
  height: 40px;
  background-color: #34495e;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}

.button {
  color: white;
  text-decoration: none;
  background-color: #34495e;
  border-radius: 20px;
  padding: 15px;
}

.button:hover {
  background-color: #5D92B1;
  color: white;
  box-shadow: 0 1px 0 #666, 0 3px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
}

#logo {
  float: left;
  text-decoration: none;
  padding-left: 10px;
}

a img {
  text-decoration: none;
  float: left;
}

.site_link {
  margin-top: 10px;
  margin-bottom: 10px;
}

.showcase_project {
  margin: 0px auto;
  background-color: #5D92B1;
  border-radius: 25px;
  padding: 10px;
  width: 75%;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  opacity: .8;

}

.form_container {
  display: inline-block;
  margin: 0 auto;
  padding: 25px;
  width: 22%;
  font-size: 125%;
  text-align: left;
  border-radius: 25px;
  background-color: #5D92B1;
  opacity: .85;
}

#spacing {
  display: inline-block;
  width: 15%;
}

.form_item {
  padding-bottom: 10px;
}

.form_label {
  padding-top: 7px;
}

#signin {
  float: right;
  padding-right: 5px;
}

#nav {
  text-align: center;
}

.text_container {
  float: right;
  margin-right: 20%;
  // display: inline-block;
  // margin-left: 20px;
  padding: 25px;
  width: 30%;
  font-size: 125%;
  text-align: left;
  border-radius: 25px;
  background-color: #5D92B1;
  opacity: .85;

}

.sign_up_page {
  width: 100%;
  opacity: .85;
}

#prompt {
  margin-bottom: 15px;
}

#forgotten_password {
  margin-top: 20px;
}

.about_us {
  color: white;
  margin: 0 auto;
  padding: 20px;
  width: 70%;
  font-size: 125%;
  text-align: left;
  border-radius: 25px;
  background-color: #5D92B1;
  opacity: 0.8;
}

.profile_container {
  margin: 0 auto;
  color: white;
  padding: 25px;
  width: 70%;
  font-size: 100%;
  text-align: left;
  border-radius: 25px;
  background-color: #5D92B1;
  opacity: 0.85;
}

.center_container {
  color: white;
  margin: 0 auto;
  padding: 25px;
  width: 22%;
  font-size: 125%;
  margin-bottom: 20px;
  text-align: left;
  border-radius: 25px;
  background-color: #5D92B1;
  opacity: 0.85;
}

.simple_link {
  color: inherit;
  text-decoration: none;
  font-size: 17px;
  padding-right: 5px;
  padding-left: 5px;
}

.simple_link:hover {
  text-decoration: underline;
}

#help_link {
  font-size: 300%;
  padding: 40px;
}
